        body{
        background-color: #f8f9fa;
    }
    
    h1, h2, h3, h4, h5, p, ul, ol{
     font-family: 'Bitter', serif;
    }

    a h1{color:black;}

    ul ul, ol{margin-left: 10px;}
    
    
    .card p{
        padding-top:10px;
        padding-left:10px;
        padding-right:10px;
    }

    img.square-crop {
        width: 100%;             /* Fills the width of its container */
        aspect-ratio: 1 / 1;     /* Forces the height to equal the width */
        object-fit: cover;       /* Crops the excess image without distortion */
        object-position: center; /* Centers the crop area (optional) */
      }
      .navbar{
        background-color:#F5F5F5;
        font-family: 'Bitter', serif;
      }

      .navbar-toggler-icon{
        color:black;
      }

    