---
layout: default
---

<div class="home">
{% for post in site.posts limit:1 %}{% if post.category == "blog" %}
    <div class="col-sm-10">
    	<div class="panel panel-default custom-no-border blog-panel">
    		<div class="panel-body custom-no-overflow">
    		<h2>What's New?</h2>
    		<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    		<img src="{{ post.img | prepend: site.baseurl }}" />
        	<h2>
          	<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        	</h2>
        	<span class="post-meta">{{ post.content }}</span>
      		</div>
      	</div>
    </div>
{% endif %}{% endfor %}

<div class="col-sm-4">
<!--
    	<div class="panel panel-default custom-no-border">
    		<div class="panel-body custom-panel-height twitter-panel">
        <a class="twitter-timeline" href="https://twitter.com/natenatenate" data-widget-id="529310975447400448">Tweets by @natenatenate</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      		</div>
      	</div>
-->
</div>

<div class="col-sm-12">
	<h2>Selected Projects</h2>
</div>

{% for post in site.posts %}{% if post.category == "project" %}
    <div class="col-sm-4">
    	<div class="panel panel-default">
    		<div class="panel-body">
    		{% for images in post.images limit:1 %}
			<img src="{{ images.img }}" />
			{% endfor %}
        	<h2>
          	<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        	</h2>
      		</div>
      	</div>
    </div>
{% endif %}{% endfor %}

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
