---
layout: default
---
<h2>Painting and Drawing</h2>
<p>These paintings and drawings are closely related to my 'work' or 'projects', but they don't illustrate or describe these things.
  They don't propose solutions to problems, they are stand-alone statements and questions about the way that things are.
</p>



<div id="wax-gallery">
  <div id='gallery'>
      <div class='gallery-item manuscript all'>
        <a href='/painting1'>
          <div class='hovereffect'>
            <img class='img-responsive gallery-thumb' src='../img/p1thumb.jpg'>
              <div class='overlay'>
                <p class='info'>untitled</p>
              </div>
            </div>
          </a>
        </div>

        <div class='gallery-item manuscript all'>
          <a href='/painting2'>
            <div class='hovereffect'>
              <img class='img-responsive gallery-thumb' src='../img/p2thumb.jpg'>
                <div class='overlay'>
                  <p class='info'>untitled</p>
                </div>
              </div>
            </a>
          </div>


        <div class='gallery-item manuscript all'>
          <a href='/painting3'>
            <div class='hovereffect'>
              <img class='img-responsive gallery-thumb' src='../img/d1thumb.jpg'>
                <div class='overlay'>
                  <p class='info'>untitled</p>
                </div>
              </div>
            </a>
          </div>

          <div class='gallery-item manuscript all'>
            <a href='/painting4'>
              <div class='hovereffect'>
                <img class='img-responsive gallery-thumb' src='../img/d2thumb.jpg'>
                  <div class='overlay'>
                    <p class='info'>untitled</p>
                  </div>
                </div>
              </a>
            </div>

      </div>
</div>
